.intro {
    background-color: 
    #EDEBF7;
}
 .logolar  img {
 padding-left: 20px;
 margin-top: 10px;
 }
.logolar h6 {
    padding-left: 15px;
}
.shop-now {
    background-color:#CF4D74;
    border-radius: 25px;
}
.our-story {
    background-color: #ffff;
    border-radius: 25px;
}