.footer {
    padding-top: 50px;
    padding-bottom: 150px;
}

.icons {
    display: flex;
    justify-content: right;
    
}
.footer-icons h4 {
    text-align: right;

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }